---
title: RainBLoC Flutter Architecture
layout: default
bodyClass: page-home
---

<div class="intro pb-4">
  <div class="container">
    <h1>RainBLoC </h1>
    <h5>0.0.1-beta</h5>
    <p>Currently we're still in beta version , <strong> .</strong></p>
    <p>
      Our goals was simple, helps hundreds of Flutter developer to develop their application for easy &amp; faster .</p>
    <p>
      <a href="https://github.com/rainbloc/rainbloc-core/wiki" class="button"> <span class="fa fa-book"></span>  Getting Started Wiki</a> &nbsp;&nbsp;&nbsp;
      <a href="https://github.com/rainbloc/rainbloc-core" class="button white"> <span class="fa fa-github"></span> Download Source</a>

    </p>
  </div>
</div>
<div class="container">
  <p>&nbsp;</p>
    <p>
      <code class="starter-code">
        git clone https://github.com/rainbloc/rainbloc-core <br/>
        cd rainbloc-core <br/><br/>
        flutter clean <br/>
        flutter package get <br/>
        flutter run <br/>
      </code>
    </p>
</div>
<div class="container pt-2">
  <div class="call">
    <div class="call-box-top">
      <div class="call-email">
        <div>Reach me @LinkedIn </div>
      </div>
    </div>
    <div class="call-box-bottom">
      <a href="https://www.linkedin.com/in/rendyas/" class="button"> <span class="fa fa-linkedin-square"></span> LinkedIn</a>
    </div>
  </div>
</div>
<div class="container pt-8 pt-md-10">
  <div class="markdown-body" style="display:none">
    <h1>
      RainBLoC</h1>
    <p>Welcome to <strong>RainBLoC</strong> Project. RainBLoC is the Flutter BLoC Architecture Starter Kit to boost
      your development Mobile Application faster with Flutter.</p>
    <p>&nbsp;</p>
    <h2>
      # Suggested IDE : Visual Studio Code</h2>
    <p>Before you starting with our RainBLoC, We suggesting You to use Visual Code Studio (VCS) as your IDE. Below are
      usefull Plugins/extensions for your VCS Flutter development:</p>
    <ul>
      <li><a href="https://marketplace.visualstudio.com/items?itemName=Nash.awesome-flutter-snippets"
          rel="nofollow">Awesome Flutter Snippet</a></li>
      <li><a href="https://marketplace.visualstudio.com/items?itemName=Dart-Code.dart-code" rel="nofollow">Dart</a>
      </li>
      <li><a href="https://marketplace.visualstudio.com/items?itemName=Dart-Code.flutter" rel="nofollow">Flutter</a>
      </li>
      <li><a href="https://marketplace.visualstudio.com/items?itemName=gornivv.vscode-flutter-files"
          rel="nofollow">Flutter files</a></li>
      <li><a href="https://marketplace.visualstudio.com/items?itemName=alexisvt.flutter-snippets" rel="nofollow">Flutter
          Widget Snippets</a></li>
      <li><a href="https://marketplace.visualstudio.com/items?itemName=davidwoo.flutter-auto-import"
          rel="nofollow">Flutter Auto Import</a></li>
      <li><a href="https://marketplace.visualstudio.com/items?itemName=gmlewis-vscode.flutter-stylizer"
          rel="nofollow">Flutter stylizer</a></li>
      <li><a href="https://marketplace.visualstudio.com/items?itemName=TabNine.tabnine-vscode" rel="nofollow">Tab
          Nine</a></li>
    </ul>
    <p>&nbsp;</p>

    <h2>
      # How to get started with RainBloc</h2>
    <p>We will not explain further about how you start/install your flutter. If you need some of Flutter installation
      information , you can check it in here <a href="https://flutter.dev/docs/get-started/install"
        rel="nofollow">Flutter Installation</a></p>
    <p>If you finish your flutter installation you can go trough for the next step.</p>
    <p>Open your <strong>Terminal</strong> (<em>Mac/Linux</em>) / <strong>Cmd or Gitbash</strong> (<em>Windows</em>).
      And then :</p>
    <h4>
      #1 Clone github</h4>
    <p>You can do it by using easy clone from this project</p>
    <p><code>git clone https://github.com/rainbloc/rainbloc-core</code></p>
    <p>&nbsp;</p>

    <h4>
      #2 Clean it and get pub package</h4>
    <p>After cloning the Project you should run :</p>
    <ul>
      <li><code>flutter clean</code></li>
      <li>
        <code>flutter packages get</code> or <code> flutter pub get</code>
      </li>
    </ul>
    <p>&nbsp;</p>

    <h4>
      #3 run your Flutter Package</h4>
    <p>then you can run it by using</p>
    <ul>
      <li><code>flutter run</code></li>
    </ul>
    <p>or if you want to using VCS see the screenshoot below:</p>
    <p>
      <img width="350"
        src="https://camo.githubusercontent.com/77ee81c7ce003ca44290ddefbd95354b701e527a/68747470733a2f2f692e696d6775722e636f6d2f795557546647322e706e67"
        data-canonical-src="https://i.imgur.com/yUWTfG2.png">
    </p>
    <hr>
    <p>Now lets learn more about RainBLoC</p>
    <ul>
      <li>RainBLoC Architecture</li>
      <li>Call REST API</li>
      <li>Using Local Storage</li>
      <li>Use Available Widget</li>
    </ul>
    <p>&nbsp;</p>

    <h2>
      # Official Flutter Help</h2>
    <p>Below are few resources that can help you getting started, if you're newbie about Flutter , just read this one:
    </p>
    <ul>
      <li><a href="https://flutter.dev/docs/get-started/codelab" rel="nofollow">Lab: Write your first Flutter app</a>
      </li>
      <li><a href="https://flutter.dev/docs/cookbook" rel="nofollow">Cookbook: Useful Flutter samples</a></li>
    </ul>
    <p>For further help to getting started with Flutter, view flutter official docs <a href="https://flutter.dev/docs"
        rel="nofollow">online documentation</a>, which offers tutorials,
      samples, guidance on mobile development, and a full API reference.</p>
    <p>&nbsp;</p>
    
    <p>
      <h4>Help &amp; Support</h4>
      You can reach me @ my Linkedin account:
      <a href="https://www.linkedin.com/in/rendyas/" rel="nofollow">LinkedIn</a>
    </p>

  </div>
</div>
<div class="container pt-8 pt-md-10">
  <!-- <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-3">Our Services</h2>
    </div>
    {% for service in site.services %}
    <div class="col-12 col-md-4 mb-1">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{site.baseurl}}{{ service.url }}">{{ service.title }}</a>
          </h2>
          {{ service.content | markdownify | strip_html | truncate: 100 }}
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="col-12 text-center">
      <a class="button button-primary mt-2" href="{{site.baseurl}}/services">View All Services</a>
    </div>
  </div> -->
</div>

<div class="container pt-5 pb-5 pt-md-7 pb-md-7">
  <!-- <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-4">Our Features</h2>
    </div>
    {% for feature in site.data.features %}
    <div class="col-12 col-md-6 col-lg-4 mb-2">
      <div class="feature">
        {% if feature.image %}<div class="feature-image"><img alt="{{ feature.title }} logo"
            src="{{ feature.image }}" /></div> {% endif %}
        <h2 class="feature-title">{{ feature.title }}</h2>
        <div class="feature-content">{{ feature.description }}</div>
      </div>
    </div>
    {% endfor %}
  </div> -->
</div>